<header class='SoundLink'>
    <h2>NEW TRACK</h2>
    <p >Sound-Link</p>
</header>
<section id='session'>
    <%= render 'form' %>

    <%= link_to 'Back', edit_user_session_path(@user, @session), :class => 'title' %>
</section>
<footer>
    <div class='title'><h3>by Franx0</h3></div>
</footer>