<header class='SoundLink'>
    <p style='line-height: 80px;'>Welcome to Sound-Link</p>
</header>
<!--
<div id="divBackground"></div>
  <span id="status">Waiting to connect</span>
  <div id="dlgLogin" class="ui-widget">
  </div>

  <iframe id="dlgOauth" class="ui-widget"></iframe>

    Call<br /> <input type="text" id="destination" placeholder="Destination" />

  <div id="dlgChat" class="ui-widget">
    <audio id="audRemote"></audio>
    <p align="center">
      <video id="vidRemote" width="320" height="240"
        poster="img/poster.jpg" autoplay="autoplay"></video>
    </p>
    <p align="center">
      <video id="vidLocal" width="160" height="120"
        poster="img/poster.jpg" autoplay="autoplay"></video>
    </p>
  </div>

  <div id="dlgError" class="ui-widget ui-front">
    <p id="pErrorMessage" class="ui-state-error ui-corner-all"
      style="padding: 0.5em;">
      <span class="ui-icon ui-icon-alert"
        style="float: left; margin-right: 0.5ex;"></span>
      <span id="spnErrorMessage"
        style="display: block; overflow: hidden"></span>
    </p>
  </div>

  <img id="imgSpinner" src="img/ajax-loader.gif" height="32" width="32"
    class="ui-helper-hidden">
  <audio id="audRing" src="/common/audio/uk-ringtone.wav" preload="auto" loop></audio> 
<input type="button" id="user1" value="User1 button">
<input type="button" id="user2" value="User2 button"></br>
<input type="button" id="call" value="call">
<input type="button" id="disconnect" value="disconnect">
-->
<div id="divBackground"></div>

<span id="status">Waiting to connect</span>
    <div id="dlgLogin" class="ui-widget"></div>
  <input type="button" id="dlgLogin1" class="ui-widget" value="user1">

  <input type="button" id="dlgLogin2" class="ui-widget" value="user2">

  <iframe id="dlgOauth" class="ui-widget"></iframe>

  <input type="button" id="dlgSelectUser" class="ui-widget" value="call">
  <input type="button" id="dlgDisconnect" class="ui-widget" value="disconnect">
    <p>
      Call<br /> <input type="text" id="txtChatWith" />
    </p>

  <div id="dlgChat" class="ui-widget">
    <audio id="audRemote"></audio>
    <p align="center">
      <video id="vidRemote" width="320" height="240"
        poster="img/poster.jpg" autoplay="autoplay"></video>
    </p>
    <p align="center">
      <video id="vidLocal" width="160" height="120"
        poster="img/poster.jpg" autoplay="autoplay"></video>
    </p>
  </div>

  <div id="dlgError" class="ui-widget ui-front">
    <p id="pErrorMessage" class="ui-state-error ui-corner-all"
      style="padding: 0.5em;">
      <span class="ui-icon ui-icon-alert"
        style="float: left; margin-right: 0.5ex;"></span>
      <span id="spnErrorMessage"
        style="display: block; overflow: hidden"></span>
    </p>
  </div>

  <img id="imgSpinner" src="img/ajax-loader.gif" height="32" width="32"
    class="ui-helper-hidden">
  <audio id="audRing" src="/common/audio/uk-ringtone.wav" preload="auto" loop></audio> 